/* todo styling */

.center {
  text-align: center;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 450px;
  margin: 0 auto;
}

.input_style {
  border: #282c34 2px solid;
  height: 35px;
  width: 550px;
  outline: none;
}

.hover_delete {
  cursor: pointer;
}

.red {
  background-color: red;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  padding: 0 10px;
  font-size: 16px;
  color: white;
  padding: 5px;
  outline: none;
}

input[type=text]{
  padding:0px 5px;
}

hr {
  width: 500px;
}
