/* todo styling */

.center {
  text-align: center;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 450px;
  margin: 0 auto;
}

.input_style {
  border: #282c34 2px solid;
  height: 30px;
  width: 450px;
}

.hover_delete {
  cursor: pointer;
}
